[Unit]
Description=A simple CalDAV (calendar) and CardDAV (contact) server

[Service]
ExecStart=__FINAL_PATH__/bin/radicale
Restart=on-failure
User=radicale
WorkingDirectory=__FINAL_PATH__
EnvironnmentFile=/etc/radicale/radicale.env
# Deny other users access to the calendar data
UMask=0027
# Optional security settings
PrivateTmp=true
ProtectSystem=strict
#ProtectHome=true
PrivateDevices=true
#NoNewPrivileges=true
ReadWritePaths=__DATA_USER__
ReadWritePaths=/var/log/radicale

[Install]
WantedBy=multi-user.target
