[Unit]
Description=A simple CalDAV (calendar) and CardDAV (contact) server

[Service]
ExecStart=__FINALPATH__/bin/radicale --config __CONFIG_PATH__/config
Restart=on-failure
User=__APP__
WorkingDirectory=__FINALPATH__
EnvironmentFile=__CONFIG_PATH__/radicale.env
# Deny other users access to the calendar data
UMask=0027
# Optional security settings
PrivateTmp=true
ProtectSystem=strict
#ProtectHome=true
PrivateDevices=true
#NoNewPrivileges=true
ReadWritePaths=__DATA_USER__

[Install]
WantedBy=multi-user.target
